/**
 * Style sheet for TinyQueries Bluemix sample app
 *
 */
 
body {
	padding: 40px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#example-chart-1 .x.axis path {
  display: none;
}

#example-chart-2 .y.axis path {
  display: none;
}
